name: Advanced Uses & Needs Verification

env:
  My_Name: "趙涵廷"
  GREETING: "お疲れ様です。"
on:
  schedule:
    - cron: '45 8 * * *'
  workflow_dispatch:
    inputs:
      user_name:
        description: '名前'
        required: true
        default: '趙涵廷'
  push:
    branches: [main]
    paths:
      - '.github/workflows/advanced-uses-needs.yml'
  pull_request:
    branches: [main]
    types: [opened, synchronize]


jobs:
  checkout-demo:
    runs-on: ubuntu-latest
    steps:
      - name: Repository Checkout (uses demonstration)
        uses: actions/checkout@v4
      - name: List Repository Files
        env:
          LIST_FORMAT: "-la"
        run: ls $LIST_FORMAT
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: confirm the node version
        run: node -v
      - name: initialize the npm
        run: |
          npm init -y
          npm install
      - name: Cache node_modules
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{runner.os}}-node- $${{hashFiles('**/package-lock.json')}}

  windows:
    needs: checkout-demo
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Windows Environment Info
        shell: powershell
        run: |
          echo "Windows runner started"
          Get-Date
      - name: Long Running Step
        timeout-minutes: 1
        run: sleep 0

  ubuntu:
    needs: windows
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Ubuntu Environment Info
        run: |
          echo "Ubuntu runner started (after Windows)"
          lsb_release -a
      - name: Risky step (will fail)
        continue-on-error: true
        run: exit 1    #failure on purpose
      - name: Continue After Failure
        run: echo "Although　failure, continue running."
      
        
  summary:
    needs: [windows, ubuntu]
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Execution Summary
        run: |
              echo "Verification complete:checkout → windows → ubuntu → summary"
              echo "$(date '+%Y年%m月%d日')"
              echo "${{ env.My_Name }} さん！"
              echo "${{ env.GREETING }}"
      - name: Clean Up (only if success)
        if: success()
        run: echo "clear the temprary file"
